<div class="tram-departures">
    <div class="dep-title">
        <img class="vehicle-icon" src="{{ url_for('static', filename='hsl-tram.png') }}" alt="tram">
        <p class="direction-desc">
        <!--Pysäkki- tai kadunnimi tähän?-->
        </p>
    </div>
    <div class="dep-table">
        {tramtimes}
    </div>
</div>

<div class="bus-departures">
    <div class="dep-title">
        <img class="vehicle-icon" src="{{ url_for('static', filename='hsl-bus.png') }}" alt="bus">
        <p class="direction-desc">
        <!--Pysäkki- tai kadunnimi tähän?-->
        </p>
    </div>
    <div class="dep-table">
        {bustimes}
    </div>
</div>
